@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&family=Righteous&family=Sora:wght@100..800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Raleway:ital,wght@0,100..900;1,100..900&family=Righteous&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Sora:wght@100..800&display=swap');

:root{
    --heading:#720dbf;
    --text:#6C5F5B;
    --heading-color:#fff;
    --text-color-2:#3F2305;
    --heading-font:Roboto;
    --background:linear-gradient( 270.3deg,  rgb(124, 62, 172) 0.2%, rgb(71, 62, 172) 60%, rgb(43, 120, 171) 100% );
    /* --background:linear-gradient(120deg,#958E69 5%,#695027 40%,#000e 95%) ; */
}

body{
    margin: 0;
    font-family: "Poppins", sans-serif;
    box-sizing: border-box;
    /* overflow-x: hidden; */
}


/* ----------------------------------------------------------- */
/* -------------------------Home section---------------------- */
/* ----------------------------------------------------------- */
#hero{
    background: linear-gradient(rgba(0, 0, 0, 0.7),
    rgba(0, 0, 0, 0.1)),url("../Resources/hero-image.webp");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 90vh;
    /* filter: brightness(85%); */
}
.home-section{
    font-family: var(--heading-font);
    color:#fff;
    font-size: 3rem;
    padding-left: 10rem;
    padding-top: 10rem;
    align-items: center;
    /* display: flex; */
    
}
.h-main-heading{

    width: 35vw;
}
.heading-small{
    font-size: 2rem
}

@media screen and (max-width: 1786px) {
    .h-main-heading{
        width: 40vw;
        padding-top: 3rem;
    }
}

@media screen and (max-width: 1673px) {
    .home-section{
       font-size: 2.7rem;
    }
    .heading-small{
        font-size: 1.8rem;
    }
}
@media screen and (max-width: 1280px) {
    .home-section{
       font-size: 2.5rem;
    }
    .heading-small{
        font-size: 1.6rem;
    }
}
@media screen and (max-width: 1187px) {
    .home-section{
        padding-left:0;
        padding-top: 15rem;
    }
   .h-main-heading{
    margin: 0 auto;
    width: 75vw;
   }
   
}
@media screen and (max-width:595px) {
    .home-section{
        font-size: 1.8rem;
    }
    .heading-small{
        font-size: 1.2rem;
    }
}

/* ----------------------------------------------------------- */
/* -------------------Performace section---------------------- */
/* ----------------------------------------------------------- */
.performance-section{
    padding: 4rem 2rem;
    padding-bottom: 6rem;
    /* border:2rem solid #535C91;
    background: #070F2B; */
    color: var(--text);
    text-align: center;
    
}
.perform-paragraph1,.performance-heading-sec{
    width: 70vw;
    margin: 0 auto;
}
.performance-heading-sec{
    padding-top: 1rem;
    text-align: center;
    color:var(--heading);
    padding-bottom: 4rem;
    font-family: var(--heading-font);
}
.performance-heading{
    font-size: 3rem;
    margin: 0;
}
.performance-heading-sec p{
    font-weight: 500;
    font-size: 20px;
    margin:0;
    word-spacing: 2px;
}
.points-list{
    display: flex;
    width: 80vw;
    justify-content: center;
    margin: 0 auto;
    gap:7rem;
    text-align:center;
}
.points-list  div{
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 20px;
    flex: 1;
    word-spacing: 2px;
    padding: 2rem;
    background:rgba(255, 255, 255, 0.3);
    border:1px solid rgba(255, 255, 255, 0.4);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);

}

.point-img{
    width: 80px;
    height: auto;
    margin-bottom: 2rem;
}

@media screen and (max-width: 1787px) {
    .points-list{
        gap:4rem;
        width:87vw;
    }
    .performance-heading{
        font-size: 2.5rem;
    }
    .performance-heading-sec p{
        font-size: 17px;
        margin: 1rem;
    }
}
@media screen and (max-width: 1443px) {
    .points-list{
        gap:2rem;
        width: 95vw;
    }
    .perform-paragraph1,.performance-heading-sec{
        width: 85vw;
        
    }
}
@media screen and (max-width:1250px) {
    .points-list{
        flex-direction: column;
        width: 85vw;
    }
    .performance-heading{
        font-size: 2.1rem;
    }
}



/* ----------------------------------------------------------- */
/* -------------------Approach section---------------------- */
/* ----------------------------------------------------------- */
.approach{
    background:var(--background);
    padding-top: 3rem;
    padding-bottom: 6rem;
    color:#fff
}

.approach-header{
    color: var(--heading-color);
    font-family: var(--heading-font);
    text-align: center;
    width: 70vw;
    margin: 0 auto;
    margin-bottom: 5rem;
}
.approach-header h2{
    font-size: 3rem;
    margin-bottom: 0;
}
.approach-header p{
    font-size: 1.15rem;
    margin-top: 5px;
    font-weight: 400;
}
.approach-steps{
    display: flex;
    gap:4rem;
    margin-top:3rem;
    width: 75vw;
    margin: 0 auto;
    align-items: center;
    justify-content: center;
}
.approach-step{
    background: #B3A492;
    flex:1;
    text-align: center;
    border-radius: 120px;
    transition: .3s ease-in-out;
    align-items: center;
}

.approach-heading{
    border:12px solid;
    background: #e5e3e3;
    border-radius: 50%;
    height:11rem;
    width: 11rem;
    display: flex;
    align-items: center;
    justify-content: center;

}
.approach-heading h3{
    color: #000;
}
.approach-text{
    padding: 1rem;
    padding-top: 0.2rem;
}

 @media screen and (max-width:1775px) {
    .approach-steps{
        gap:2rem;
    }
 }
 @media screen and (max-width:1420px) {
    .approach-steps{
        flex-wrap: wrap;
        width: 85%;
        gap:4rem
    }
    .approach-step{
        flex-basis: calc(50% - 200px);
        box-sizing: border-box;
        display: flex;
        height: 8rem;
        transition: 1s ease !important;
        
    }
    .approach-heading{
        height:8rem;
        width: 8rem;
        flex:1;
        margin-top: -0.25rem;
        margin-left: -0.6rem;
        flex: 0 0 auto;
    }
    .approach-text{
        flex: 2;
    }  
 }
 @media screen and (max-width:1280px) {
    .approach-steps{
        width: 95%;
    }
 }
 @media screen and (max-width:1146px) {
    .approach-steps{
        width: 80%;
        gap:1.5rem;
    }
    .approach-step{
        flex-basis: 100%;
        
    }
    .approach-heading{
        height: 6.5em;
        width: 6.5rem;
        border-radius: 50%;
        flex: 0 0 auto;
    }
    
}
@media screen and (max-width:681px) {
    .approach-text{
        padding: 1rem;
    }
    .approach-steps{
        width: 85%;
    }
}
/* ----------------------------------------------------------- */
/* -------------------Tools section---------------------- */
/* ----------------------------------------------------------- */
.Tools-section{
    width: 80vw;
    margin: 0 auto;
    padding: 3rem 0;
    padding-bottom: 7rem;
    color: var(--text);
}
.tools-header{
    color:var(--heading);
    font-family: var(--heading-font);
    text-align: center;
    padding-bottom: 3rem;
}
.tools-header h2{
    font-size: 3rem;
    margin-bottom: 0;
}
.tools-header p{
    font-size: 1.15rem;
    margin-top: 5px;
    font-weight: 400;
}
.Tools-body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap:5rem;
}
.tool{
    display: flex;
    align-items: center;
}
.text-side h3{
    color: var(--heading);
    font-family:var(--heading-font);
}
.text-side{
    flex:1;
    padding:0 4rem;
}
.text-side h3{
    font-size: 1.5rem;
}
.tool-img{
    flex:1; 
    display: flex;
    justify-content: center;
    min-width:50%;

}
.tool-img img{
    width:85%;
    height: 80%;
    object-fit: cover;
    border-top-left-radius: 30%;
    border-bottom-right-radius: 30%;
}
.tool-reverse{
    flex-direction: row-reverse;
}
.tool-reverse img{
    /* border-top-right-radius: 30%;
    border-bottom-left-radius: 30%;
    border-top-left-radius: 0%;
    border-bottom-right-radius: 0%; */
}

@media screen and (max-width:1520px) {
    .Tools-section{
        width:90vw
    }
}
@media screen and (max-width:1076px){
    .Tools-section{
        width:95vw
    }
    .Tools-body{
        gap:2rem;
    }
    
}
@media screen and (max-width:990px) {
    .tool{
        flex-direction: column;
        gap:2rem
    }
    .tool-img img{
        width:75%;
    }
    .tools-header p{
        font-size: 1rem;
    }
    .tools-header h2{
        font-size: 2rem;
    }
}
@media screen and (max-width:716px) {
    .text-side{
        width: 90vw;
        
    }
}

/* ----------------------------------------------------------- */
/* -------------------Strength section---------------------- */
/* ----------------------------------------------------------- */
.strength-section{
    background:var(--background); 
    color:#fff;
    padding: 6rem 0;
}
.strength-wrapper{
    width: 75vw;
    margin: 0 auto;
}
.strength-header{
    color:var(--heading-color);
    font-family: var(--heading-font);
    text-align: center;
    padding-bottom: 5rem;
}
.strength-header h2{
    font-size: 3rem;
    margin-bottom: 0;
}
.strength-header p{
    font-size: 1.15rem;
    margin-top: 5px;
    font-weight: 400;
}
.strength-details{
    display: flex;
    gap:4rem;
    justify-content: center;
}
.strength{
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    flex:1;
    padding: 2rem 3rem;
    border-radius: 20px;
    background:rgba(255, 255, 255, 0.3);
    border:1px solid rgba(255, 255, 255, 0.4);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);


}
.strength-desc{
    display: flex;
    text-align: center;
    word-spacing: 3px;
    line-height: 1.5rem;
    margin: 0 auto;
    font-weight: 400;
}
.strength-name h3{
    color: var(--heading-color);
    font-family:var(--heading-font);
}
.strength-logo img{
    width:60px;
    height: 60px;
    padding-bottom: 15px;
}

@media screen and (max-width:1834px) {
    .strength-wrapper{
        width: 80vw;
    }
    .strength{
        padding:1rem;
    }
}
@media screen and (max-width:1493px) {
    .strength-wrapper{
        width:90vw
    }
}
@media screen and (max-width:1493px) {
    .strength-details{
        gap:1.5rem
    }
}
@media screen and (max-width:1031px) {
    .strength-details{
        flex-direction: column;
    }
    .strength-logo img{
        padding-bottom: 0px;
    }
}
@media screen and (max-width:629px) {
    .strength-header h2{
        font-size: 2rem;
    }
}
/* ------------------------------------------------------ */
/* ------------------Trust section----------------------- */
/* ------------------------------------------------------- */
.trust-section{
    background: #E3E1D9;
    padding: 4rem 0;
}
.client-trust{
    width: 70vw;
    margin: 0 auto;
    margin-bottom: 6rem;
}
.client-trust-header{
    color:var(--heading);
    font-family: var(--heading-font);
    text-align: center;
    padding-bottom: 5rem;
}
.client-trust-header h2{
    font-size: 3rem;
    margin-bottom: 0;
}
.client-trust-header p{
    font-size: 1.15rem;
    margin-top: 5px;
    font-weight: 400;
}
.client-trust-cards{
    display: flex;
    gap:3rem;
    text-align: center;
}
.client-trust-card{
    padding: 4rem 2rem;
    border-radius: 20px;
    background:var(--background);
    background: linear-gradient(120deg, rgba(149, 142, 105, 0.5) 5%, rgba(105, 80, 39, 0.7) 40%, rgba(0, 0, 14, 0.3) 95%);
    border:1px solid rgba(255, 255, 255, 0.3);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    flex:1;
    display: flex;
    flex-direction: column;
    z-index: 0;
}
.client-trust-cards h3{
    color: var(--heading);
    font-family: var(--heading-font);
    font-size: 1.5rem;
}
.client-trust-cards em{
    color: var(--heading);
    font-family: var(--heading-font);
    font-size: 1rem;
    margin-top: -.8rem;
    font-weight: 500;
}
.modal-btn{
    width: fit-content;
    margin: 0 auto;
    padding:7px 15px;
    outline: none;
    border: none;
    border-radius: 15px;
    margin-top: 1.5rem;
    color: #3d75a3;
}
.modal {
    display:none; 
    position: fixed; 
    z-index: 1; 
    padding-top: 100px;
    left: 0rem;
    top: 0rem;
    width: 100vw; 
    height: 100vh; 
    overflow: auto; 
    margin: auto;
    background-color: rgb(0,0,0); 
    background-color: rgba(0,0,0,0.4);

}


/* Modal Content */
.modal-content {
    background-color: rgba(255, 255, 255, 0.3);
    border: rgba(255, 255, 255, 0.4);
    box-shadow: 0 0 5px 5px rgba(0, 0, 0, 0.2);
    backdrop-filter: blur(10px);
    border-radius: 10px;
    color: #fff;
    margin: 0 auto;
    padding: 20px;
    width: 80%;
    z-index: 99;
    position: fixed;
    left: 50%;
    top: 40%;
    transform: translate(-50%,-50%);
    text-align: center;
    display: flex;
}
.modal-img{
    flex:1;
    margin: auto;
}
.modal-img img{
    width: 15rem;
    height: auto;
    margin: auto 0;
    
}
.modal-details{
    flex:2;
    display:flex;
    flex-direction: column;
    gap:1rem;
}
.modal-content h3{
    color:rgba(40, 97, 211, 0.933);
    word-spacing: 2px;
    letter-spacing: 1px;
    font-size: 1.5rem;
    margin-bottom: 0;
}
.modal-content em{
    margin-top: -17px;
    margin-bottom: 1rem;
    font-size: large;
    color: rgba(40, 97, 211, 0.933);
   
}
.modal-content textarea{
    resize: none;
    outline: none;
    border:none;
    background-color: transparent;
    height: 250px;
    font-size: 16px;
    color:#fff;
    font-family: poppins;
    cursor:default;
}

/* The Close Button */
.close {
    color: #fff;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: #0e8ad7;
    text-decoration: none;
    cursor: pointer;
}
@media screen and (max-width:1680px) {
    .client-trust{
        width: 80vw;
    }
}
@media screen and (max-width:1173px) {
    .client-trust{
        width: 90vw;
    }
}
@media screen and (max-width:940px) {
    .client-trust-cards{   
        gap:1rem;
    }
}
@media screen and (max-width:867px) {
    .client-trust-cards{   
        flex-direction: column;
    }
    .client-trust-header h2{
        font-size: 2rem;
    }
    .client-trust-card{
        padding-top: 2rem;
    }
}

@media screen and (max-width:1150px){
    .modal-content{
        display: block;
        top:50%;
    }
    .close{
        float:none;
        position: absolute;
        top:1rem;
        right:1rem;
    }
}


.trust-area{
    max-width: 70vw;
    font-size: 1.8rem;
    font-family: var(--heading-font);
    /* text-align:center; */
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    color: var(--heading);
    letter-spacing: 2px;
}
.trust-area-title{
    color: var(--heading);
}
.trust-area-title h2{
    margin-top: 0;
    font-size: 2.75rem;
}
.trust-area-title p{
    margin-bottom: 0;
}
.logo-slider{
    display: flex;

}
.logo-slider img{
    width: 65%;
    border-radius:50px;
    box-shadow: 0 0 5px rgba(0,0,0,0.2);
}
.logo-slider .item{
    padding: 0px; 
}
.logo-slider .slick-slide{
    margin: 10px;
    margin-left:1%;
}
.slick-next:before{
    color: #0275f0 !important;
    font-size: 3rem !important;
    margin-left: -50px;
}
.slick-prev:before{
    color: #7e1eeceb !important;
    font-size: 3rem !important;
    margin-left: -50px;
}
@media screen and (max-width:711px) {
    .logo-slider img{
        width: 50%;

    }
    .logo-slider .slick-slide{
        margin-left: 2%;
    }
    .slick-prev::before{
        margin-left: 0;
    }
    .slick-next::before{
        margin-left: 0;
    }
}
@media screen and (max-width:711px) {

    .logo-slider .slick-slide{
        margin-left: 2.5%;
    }
    .trust-area-title h2{
        font-size: 2rem;
    }
}    


/* -------------------------------------------------------- */
/* ---------------------FAQ-------------------------------- */
/* --------------------------------------------------------- */
.QA-section{
    margin-bottom: 6rem;
}
.faq{
    margin-bottom:2rem;
    display: flex;
}
.faq::before{
    content:" ";
    width:10px;
    background:var(--primary);
}
.faq-section{
    width:60vw;
    margin: 0 auto;
}
.faq-div{
    width: 100rem;
}
.in{
    color:var(--heading);
    line-height: 2rem;
    font-size: 1rem;
    /* padding: 2px 0; */
}
.in span{
    display: block;
    text-transform: uppercase;
    font-size: 1.5rem;
    font-family:var(--heading-font);
    font-weight: 600;
}
.accordion {
  background-color: #fff;
  color: #444;
  cursor: pointer;
  padding: 0px 18px;
  width: 100%;
  border: none;
  text-align: left;
  outline: none;
  font-size: 15px;
  transition: 0.4s;
  border-radius: 50px;
  display: block;
  box-shadow: 0px 5px 5px 3px rgba(0,0,0,0.2);
}
.accordion-click{
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
}


.accordion:hover {
  /* background-color: #d8d0d0;  */
  
}

.panel {
  padding: 0px 18px;
  display: none;
  background-color: white;
  overflow: hidden;
  border-radius: 50px;
  box-shadow: 0px 5px 5px 3px rgba(0,0,0,0.2);
  padding: 2rem ;
}
.pannel-click{
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}
.faq-header{
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    padding-bottom: 2rem;
    color:var(--heading);
    letter-spacing: 2px;
}
.faq-header h2{
    font-size: 2.75rem;
    word-spacing: 10px;
    margin-bottom: 0;
    margin-top: 4rem;
    font-family: var(--heading-font);
    color: var(--heading);
}

@media screen and (max-width: 1445px) {
    .faq-section{
        width: 80vw;
    }
}
@media screen and (max-width: 670px) {
    .faq-header h2{
        font-size: 2.3rem;
    }
}

